body {
  background-color: #F1F1F1;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #40a798;
  font-size: 22px;
}

h2, h3 {
  color: #476268;
}

h2 {
    font-size: 20px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #0080FF;
}

a:hover {
  color: #000080;
}

#wrapper {
  padding: 20px;
  width: 1000px;
  margin: 20px auto;
  border-radius: 3px;
  background: #CCCCCC;
}

#left-container {
  width: 60%;
  float: left;
  min-height: 600px;
}

#right-container {
  width: 40%;
  float: right;
  min-height: 600px;
}

.clear {
  clear: both;
}

#footer {
  postiion: relative;
  padding: 10px 400px 60px 20px;
}
.img_circle {
  border-radius: 50%;
}
.card_white {
  background-color: white;
  margin: 20px;
  box-shadow: 0px 1px 1px black;
  padding: 20px;
}

.list_inline {
  padding-left: 0px;
}

.list_inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.card_white:first-child {
  min-height: 300px
}

.card_white:last-child {
  min-height: 100px;
}

.text-center {
  text-align: center;
}

.btn-red {
  background-color: #D23333;
  color: white;
  border-radius: 2px;
  margin: 20px;
  padding: 5px;
}

.btn-red:hover {
  color: white;
  background-color: #800000;
}
